* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    /* background-color: #f8f9fa; */
    background: linear-gradient(to right, #1C113D 45%, #9a1491);

}

.accordion-container {
    width: 80%;
    margin:  auto;
    padding: 20px;
}

.accordion_h2{
    text-align: center;
    font-size: 2.5em;
    color: white;
    margin-bottom: 100px;
}

.back-btn, .doc-btn {
    background: linear-gradient(to right, #9a1491 1% , #1C113D 100%);
    color: #fff;
    border: none;
    padding: 15px 25px;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0.3, 0.1, 0.1, 0.1);

}

.doc-btn {
    margin-left: 10px;
}

.accordion_h3 {
    color: white;
    margin: 15px 0;
    font-size: 1.5em;
}

.accordion-item {
    background-color: #f7f8fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.accordion-header {
    display: block;
    padding: 15px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    color: #444;
}


.accordion-content {
    display: none;
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #f7f8fa;
    color: #666;
    border-radius: 0 0 12px 12px;
}

.accordion-header::after {
    content: '▼';
    font-size: 12px;
    color: #888;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}



.accordion-toggle:checked + .accordion-header::after {
    transform: translateY(-50%) rotate(180deg); 
}

.accordion-toggle:checked + .accordion-header + .accordion-content {
    display: block;
}

.accordion.outlined .accordion-header {
    border: 2px solid #6c63ff;
    color: #6c63ff;
}

.accordion.outlined .accordion-content {
    border: 2px solid #6c63ff;
}
.code-block {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre-wrap;
    display: none;
}
.show-code-btn {
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}


/* Responsive Design */
@media screen and (max-width: 600px) {
    .accordion-container {
        padding: 0 10px;
    }

    .back-btn, .doc-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}
