body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0A001F;
    color: white;
}

.container {
    padding: 20px;
}

.button-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-5px); 
}

h1 {
    text-align: center; 
    margin: 20px 0; 
    font-size: 24px; 
    color: #ff66cc;
}

h2 {
    background: linear-gradient(90deg, #ff66cc, #9966ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin: 0; 
}

.section {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 15px;
    background-color: #1c1031;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.checkbox-group, .label-group, .custom-icon {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
}

input[type="checkbox"] {
    appearance: none; 
    width: 20px;
    height: 20px;
    background-color: #1c1031; 
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked {
    background-color: #007bff; 
    border-color: #0056b3; 
}

input[type="checkbox"]:checked:after {
    content: "✓"; 
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-group label {
    display: flex;
    align-items: center;
    gap: 10px;
}

pre {
    background-color: #2e1d57;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    display: none; 
    overflow-x: auto;
}

.show-code-button {
    padding: 5px 8px; 
    font-size: 12px; 
}

@media (max-width: 768px) {
    button {
        padding: 8px 12px; 
        font-size: 14px;
    }

    .checkbox-group, .label-group, .custom-icon {
        flex-direction: column; 
        align-items: flex-start; 
    }

    input[type="checkbox"] {
        width: 25px; 
        height: 25px;
    }
}

@media (max-width: 480px) {
    .section {
        padding: 10px;
    }

    input[type="checkbox"] {
        width: 20px; 
        height: 20px;
    }

    h2 {
        font-size: 18px;
    }
}
