*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* navbar-section start */

.navbar-section{
     height: 60px;
    background-color:white;
    position: fixed;
}

.navbar-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width:40px;
    height:40px;
}

.logo img{
    width: 70px;
}
.dropdown ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.dropdown ul li{
    margin-right: 20px;
    padding-top: 15px;
    font-weight: 600;
}

.dropdown ul li a{
    color: #1C113D;
}

.dropdown ul li a:hover{
    text-decoration: none;
}

/* navbar-section end */
